body{
  background-color: #000;
  color: rgb(219, 219, 219);
  width: 360px;
  margin: auto;
}

.tabs-names{
  display: flex;
  gap: 10px;
}
.tabHeading{
  background-color: rgb(211, 211, 211);
  color: #000;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.tab-data-container{
  border: 0.5px #fff solid;
  padding: 10px;
  border-radius: 10px;
}
.btn{
  background-color: rgb(155, 161, 232);
  color: #000;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  border: none;  
  margin-right: 10px;
}
.form-container{
  display: flex;
  flex-direction: column;
  gap:2px;
}
.form-container div{
  display: flex;
  gap:2px;
  justify-items: center;
}

input{
  background-color: rgb(176, 176, 176);
  border: none;
  padding: 2px;
  border-radius: 2px;
}
input:focus{
  border: none;
  outline: none;
}
.err{
  color: rgb(193, 0, 0);
}